/* Write your custom CSS here */
:root {
    /* Colors */

    /* Primary */
    --primary: #E32823;
    --primary-hover: #FFFFFF;
    --primary-disable: #000000;
    /* Secondary */
    --secondary: #F4F5F6;
    --secondary-hover: #f8f8f8;
    --secondary-disable: #67E0BA;
    /* Success */
    --success: #D8B4A0;
    --success-hover: #8F2D56;
    --success-disable: #747170;
    /* Danger */
    --danger: #A4A4A4;
    --danger-hover: #FF4F70;
    --danger-disable: #D9D9D9;
    /* Warning */
    --warning: #FFFFFF;
    --warning-hover: #FF4F70;
    --warning-disable: #D9D9D9;
    /* Info */
    --info: #FFFFFF;
    --info-hover: #FF4F70;
    --info-disable: #D9D9D9;
    /* Light */
    --light: #FFFFFF;
    --light-hover: #FF4F70;
    --light-disable: #D9D9D9;
    /* Dark */
    --dark: #FFFFFF;
    --dark-hover: #FF4F70;
    --dark-disable: #D9D9D9;
    /* Universal */
    --universal-white: #FFFFFF;
    --universal-dark: #000000;

    /* Transitions */
    /* 0.3 Second Transition */
    --transtion-small: all 0.3s ease-in-out 0s;
    /* 0.6 Second Transition */
    --transtion-medium: all 0.6s ease-in-out 0s;
    /* 1.0 Second Transition */
    --transtion-long: all 1s ease-in-out 0s;

}

a {
    color: var(--universal-dark) !important;
    transition: var(--transtion-small) !important;
}

a:hover,
a:active,
a:focus {
    color: var(--primary) !important;
}